
.ReactModal__Overlay.ReactModal__Overlay--after-open {
	background: rgba(9, 30, 66, 0.54) !important;
	padding: 50px !important;
}
.ReactModal__Content.ReactModal__Content--after-open {
	width: 100% !important;
	max-width: 1040px !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important;
	height: calc(100% - 100px) !important;
	display: inline-block !important;
	padding: 0!important;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.ReactModal__Content.ReactModal__Content--after-open::-webkit-scrollbar {
	display: none;
}
.task-modal-header {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 20px 16px 0px;
}
.header-left,
.header-right {
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	display: flex;
	align-items: center;
	color: rgb(94, 108, 132);
	letter-spacing: 0.5px;
	justify-content: center;
	height: 32px;
	vertical-align: middle;
	line-height: 1;

	white-space: nowrap;
}
.header-item {
	transition: all 0.3s;
	height: 100%;
	border-radius: 4px;
}
.header-item:hover {
	background: rgb(235, 236, 240);
}
.modal-main-left {
	width: 65%;
	padding-right: 50px;
}
.modal-main-right {
	width: 35%;
	padding-top: 5px;
}
.modal-task-name {
	margin-top: 18px;
	height: 44px;
	width: 100%;
}
.task-name-input {
	padding: 7px 7px 8px 0;
	line-height: 1.28;
	resize: none;
	background: rgb(255, 255, 255);
	border: 1px solid transparent;
	box-shadow: transparent 0px 0px 0px 1px;
	transition: background 0.1s ease 0s;
	font-size: 24px;
	font-weight: 500;
}
.modal-task-description .title {
	padding: 20px 0px 6px;
	font-size: 15px;

	font-weight: 500;
}
.modal-status {
	margin: 24px 0px 5px;
	text-transform: uppercase;
	color: rgb(94, 108, 132);
	font-size: 12.5px;

	font-weight: 500;
}
.update-status {
	margin-top: 11px;
	padding-top: 13px;
	line-height: 22px;
	border-top: 1px solid rgb(223, 225, 230);
	color: rgb(94, 108, 132);
	font-size: 13px;
}

.assigness-user{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin: 0px 10px 5px 0px;
    padding: 5px 8px;
    border-radius: 4px;
    background: rgb(235, 236, 240);
    transition: background 0.1s ease 0s;
}
.assigness-user:hover{
    background: rgb(223, 225, 230);
}
.addmore-btn{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    padding: 3px 0px;
    font-size: 12.5px;
    cursor: pointer;
    color: rgb(0, 82, 204);
}
.addmore-btn:hover{
    text-decoration: underline;
}
.assigness-user .ant-avatar:hover {
    transform: translateY(0);
}
.assigness-user.reporter{
    margin-bottom: 0;
}
.ant-progress{
    line-height: 1;
}
.time-tracking:hover{
	background: rgb(235, 236, 240);
}
.time-tracking .ant-progress{
	margin-top: 0;
}
.time-tracking-modal{
	width: 100%!important;
	max-width: 450px!important;
	padding: 20px 25px 25px!important;
	overflow: hidden;
	display: block;
}
.time-tracking-modal .ant-modal-header{
 border: none;
 padding: 0!important;
}
.close-btn-time-tracking{
	padding:4px;
	border-radius: 4px;
	margin-right: -12px;
}
.close-btn-time-tracking:hover{
	background-color: rgb(235, 236, 240);
}
.time-tracking-modal .time-tracking:hover{
	background-color: rgba(0,0,0,0);
}
.comment-input{
	padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid rgb(223, 225, 230);
    color: rgb(137, 147, 164);
    cursor: pointer;
    user-select: none;
	width:  540px;
	height: 44px;
	font-weight: 500;
}
.comment-input:hover{
	border: 1px solid rgb(193, 199, 208);
}
.textarea-comment{
	overflow-y: hidden;
    width: 100%;
    padding: 8px 12px 9px;
    border-radius: 3px;
    border: 1px solid rgb(223, 225, 230);
    color: rgb(23, 43, 77);
    background: rgb(244, 245, 247);
    font-weight: 500;
    font-size: 15px;
	height: 61px;
	width:  540px;

}
.textarea-comment:hover,.textarea-comment:focus-visible{
	background: rgb(255, 255, 255);
    border: 1px solid rgb(76, 154, 255);
    box-shadow: rgb(76 154 255) 0px 0px 0px 1px;
}
.name-comment{
	display: inline-block;
    padding-right: 12px;
    padding-bottom: 10px;
    color: rgb(66, 82, 110);

    font-weight: 700;
}
.date-comment{
	display: inline-block;
    padding-bottom: 10px;
    color: rgb(66, 82, 110);
    font-size: 14px;
	font-weight: 500;
}
.comment-text{
	padding-bottom: 10px;
    white-space: pre-wrap;
	line-height: 1.4285;
	font-weight: 400;
}
.comment-btn{
	margin-right: 12px;
    display: inline-block;
    padding: 2px 0px;
    color: rgb(94, 108, 132);
    font-size: 14px;
    cursor: pointer;
    user-select: none;
	font-weight: 500;
}
.comment-btn:hover{
	text-decoration: underline;
}
.delete-comment-modal{
	width: 100%!important;
    max-width: 600px;
}
.delete-comment-modal .ant-modal-content{
	width: 100%;
    max-width: 600px;

}
.delete-comment-modal .ant-modal-body{
	padding: 35px 40px 40px;
	display: inline-block;
    width: 100%;
    background: rgb(255, 255, 255);
    max-width: 600px;
    vertical-align: middle;
    border-radius: 3px;
    box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px 0px;
}